<div class="actions">
  <button routerLink="">Retour</button>
</div>

<div class="card row">
  <form class="form col" [formGroup]="filmForm" (ngSubmit)="save()">
    <input type="number" formControlName="id" hidden>
    <div class="col">
      <label>Titre</label>
      <input type="text" formControlName="title">
      <label class="text-alert" *ngIf="filmForm.controls.title.status == 'INVALID'">Valeur obligatoire.</label>
    </div>
    <div class="col">
      <label>Synopsis</label>
      <textarea formControlName="synopsis"></textarea>
    </div>
    <div class="col">
      <label>Note</label>
      <input type="number" formControlName="rating" min="0" max="5">
    </div>
    <div class="row justify-center">
      <button [disabled]="filmForm.status === 'INVALID'" type="submit">Sauvegarder</button>
    </div>
  </form>
</div>
